<li id="contact-<%= contact.id %>">
 <div class="panel panel-default">
    <h4 class="user"><strong><%= contact.firstname %> <%= contact.lastname %></strong></h4>
    <div class="panel-heading">
      <span class="content">Email   : <%= contact.email %> </span>
      <span class="content">Phone   : <%= contact.phone %> </span>
      <span class="content">Address : <%= contact.address_line1 %>, <%= contact.address_line2 %> </span>
      <span class="content">City    : <%= contact.city %> </span>
      <span class="content">Zipcode : <%= contact.zipcode %> </span>
      <span class="content">Country : <%= contact.country %> </span>
    </div>
  </div>
</li>